$selection-width: 280px;

.page-editor{
  height: 100%;
  overflow: auto;
  .editor{
    width: 1200px;
    margin: $gap-lg auto 0;
    .editor-main{
      display: flex;
      justify-content: space-around;
      height: 85vh;

      .m-selections{
        width: $selection-width;
        background: rgba(255, 255, 255, .1);
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        color: $white;
        overflow: auto;
        flex-shrink: 0;
  
        .selection{
          box-sizing: border-box;
          padding: 10px;
          border-bottom: 1px solid $gray-800;
          h4{ margin: $gap-mn }
          label{
            display: inline-block;
            white-space: nowrap;
            padding: $gap-sm;
            margin: $gap-mn;
            cursor: pointer;
            &:hover{
              color: $green;
            }
            input{
              margin-left: $gap-mn;
            }
          }
        }
      }
      
      .editor-container{
        position: relative;
        box-sizing: border-box;
        width: calc(100% - #{$selection-width});
        padding: 0 $gap-lg;
        border-top: 1px solid $gray-400;
        background: $white;
        overflow: auto;
    
        .editor-title{
          padding-top: $gap-lg;
          padding-bottom: $gap-sm;
          input{
            font-weight: 800;
            color: $green;
            outline: none;
            border: none;
            font-size: 32px;
            width: 100%;
          }
        }
        .editor-paper{
          height: 92%;
          & > div{
            height: 100%;
          }
        }
      }
    }
  }

  .save{
    // position: absolute;
    // right: 20px;
    // top: 20px;
  }
}
