.page-editor{
  height: 100%;
  overflow: auto;
  .editor{
    width: 1200px;
    margin: 10px auto 0;
    .editor-main{
      display: flex;
      justify-content: space-around;
      height: 85vh;
  
      .m-selections{
        width: 300px;
        background: rgba(255, 255, 255, .1);
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        color: $white;
        overflow: auto;
  
        .selection{
          box-sizing: border-box;
          padding: 10px;
          border-bottom: 1px solid $gray-800;
          h4{ margin: $gap-mn }
          label{
            display: inline-block;
            white-space: nowrap;
            padding: $gap-sm;
            margin: $gap-mn;
            cursor: pointer;
            &:hover{
              color: $green;
            }
            input{
              margin-left: $gap-mn;
            }
          }
        }
      }
      
      .editor-container{
        position: relative;
        padding: 0 $gap-lg;
        box-sizing: border-box;
        background: $white;
        overflow: auto;
        flex-grow: 1;
        border-top: 1px solid $gray-400;
    
        .editor-title{
          padding-top: $gap-lg;
          input{
            font-weight: 800;
            color: $green;
            outline: none;
            border: none;
            font-size: 30px;
          }
        }
        .editor-paper{
          height: 92%;
        }
      }
    }
  }

  .save{
    // position: absolute;
    // right: 20px;
    // top: 20px;
  }
}
