.rh-profile-card{
	padding: $gap-sm $gap-lg;
	margin-bottom: $gap-lg;
	background: $white;
	border-radius: $gap-base;
	box-shadow: 1px 1px 5px -1px $gray-500;

	&__title{
		margin: $gap-base 0;
		animation: hue-text-color 5s linear infinite;
		background-image: linear-gradient( to right,rgb(232, 92, 92),rgba(245, 194, 64, 0.959));
    -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 800;
	}

	&__content{
		line-height: $line-height-base;
		color: $gray-600;
		background: lighten($gray-300, 5%);
		padding: $gap-base;
		border-radius: $gap-base;
		max-height: 65px;
		overflow: hidden;
	}

	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: $gap-sm;

		.infos{
			display: flex;
			font-size: $font-size-sm;
			color: $gray-600;
			.info{
				margin-right: $gap-base;
			}
		}
	}
}
