.page-article{
  overflow: hidden;
  padding: $gap-base;
  
  &-main{
    max-width: 820px;
    border: unset;
    box-sizing: border-box;
    padding: $gap-huge;
    background: $white;
    border-radius: $gap-sm;
  }
}