{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "html", "git", "nginx", "mongodb", "md", "less", "sass", "powershell", "c", "cpp", "py", "jsx", "tsx", "sql", "ts", "docker"],
      "plugins": ["line-numbers", "show-language", "copy-to-clipboard"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}