.m-article{
  overflow: hidden;

  h1{
    margin-top: 0;
  }

  .article-info{
    font-size: $font-size-sm;
    color: $gray-500;
    a{
      color: $green;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .article-content{
    blockquote{
      border-left: 5px solid $green;
      background-color: $gray-300;
      margin: $gap-base 0;
      padding: $gap-base;
    }

    p code{
      color: $green;
      padding: $gap-mn;
      background-color: $gray-300;
      font-weight: 800;
    }
    table{
      border: 1px solid lighten($color: $green, $amount:10%);
      border-collapse: collapse;
  
      th{
        padding: $gap-base;
        border-bottom: 1px solid lighten($color: $green, $amount:10%);
        background-color: lighten($color: $green, $amount:10%);
      }
      td {
        border-bottom: 1px solid lighten($color: $green, $amount:10%);
        padding: $gap-base;
        background-color: #ffffff;
      }  
    }
    ul{
      list-style-type: circle;
    }

    p, table, ul, blockquote{
      line-height: $line-height-base;
    }


  }
}